@tailwind base;
@tailwind components;
@tailwind utilities;

/* label {
  justify-content: center;
  display: flex;
  margin: 60px;
  cursor: pointer;
} */

input {
  height: 20px;
  margin: 10px auto;
  border: none;
}

button {
  margin: auto;
  width: 60%;
  height: 40px;
  display: block;
  background: linear-gradient(45deg, #00526f, #010a74);
  font-weight: bold;
  transition: 1s ease-in-out;
  cursor: pointer;
  color: rgb(0, 0, 0);
  border-radius: 0.5rem;
}
button:hover {
  background: linear-gradient(45deg, #010376, #012e64);
}

